

/*******************************search section format*****************************/
.search{
    justify-content: center;
    width:100%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    display: inline;
    flex-wrap: wrap;
    margin-bottom: 3%;
    height: 20%;
    margin-left: 20%;
}

#searchForm{
    height: 20%;
}

.search input[type="text"] {
    border: solid;
    border-color:#008db1;
    border-radius: 30px;
    font-size: 180%;
    width: 50%;
}



#search_but{
    font-size: 115%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
    width: 30%;
    height: 150%;
    font-weight: bold;
    background-color: #008db1;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 150%;
    margin-bottom: 2%;
    padding: 0.5%;
    margin-left: -3%;
}
#search_but:hover {
    background-color: #005c74;
}


#advForm{
    width: 100%;
    margin-left: 20%
}


.buttons_bar button{
    font-size: 115%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
    width: 20%;
    display: inline;
    font-weight: bold;
    background-color: #008db1;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 150%;
    margin-bottom: 15%;
    padding: 2%;
    margin-right: 5%;
}



